<!DOCTYPE html>
<html>
<head>
	<title>文字去重</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="CompareRepeat.css">
</head>
<body>
	<div id="app">
		<div id="tabBarTest">文字去重</div>
		<div id="tabBar">
			<button id="back">返回</button>
			<button id="submit" @click="submitFun">提交</button>
			<button @click="switchFun" :class="switchBtn?'switchOn':''">切换</button>
			<button @click="copyFun">拷贝</button>
			<div id="custom">
				<label for="inputSeparator">输入分隔符:</label>
				<input id="inputSeparator" v-model="inputSeparator">
				<label for="outputSeparator">输出分隔符:</label>
				<input id="outputSeparator" v-model="outputSeparator">
			</div>
		</div>
		
		<div style="display: inline-block">
			<label for="originInput">输入文字</label>
			<br>
			<textarea id="originInput" v-model="originInput"></textarea>
		</div>
		<div style="display: inline-block">
			<label for="compareInput" v-show="switchBtn">比对文字</label>
			<br>
			<textarea id="compareInput" v-model="compareInput" v-show="switchBtn"></textarea>
		</div>
		<br>
		<div style="display: inline-block">
			<label for="output">输出文字</label>
			<br>
			<textarea id="output" :value="output" disabled></textarea>
		</div>
		<div style="display: inline-block" class="detail">
			<label for="behavior">比对详情</label>
			<br>
			<textarea id="behavior" :value="behavior" disabled></textarea>
		</div>
		<div style="display: inline-block" class="detail">
			<label for="repeat">重复内容</label>
			<br>
			<textarea id="repeat" :value="repeat" disabled></textarea>
		</div>
	</div>
	<script src="Vue.js"></script>
	<script type="module" src="CompareRepeat.js"></script>
</body>
</html>